@model TiWms.Application.OrderItem.DTOs.OrderItemDto

@{
    ViewData["Title"] = "Wykonywanie";
}

<h1>Wykonywanie zamówienia</h1>

<div>
    <h4>OrderItemDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Produkt
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class = "col-sm-2">
            Id zamówienia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class="col-sm-2">
            Ilość
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            Zrobiono
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Made)
        </dd>
        <dt class = "col-sm-2">
            Status
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        
    </dl>
    <form asp-action="AddMade" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button class="btn btn-primary" type="submit">Dodaj +1</button>
    </form>
</div>
