@model EditProductView

@{
    ViewData["Title"] = "Edycja produktu";
}

<h1>Edycja </h1>

<h4>Edycja produktu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.Id"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nazwa</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductionLineId" class="control-label">Linia produkcyjna</label>
                <select asp-for="ProductionLineId" class="form-control">
                    @foreach (var item in Model.productionLines)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="ProductionLineId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="SelectedProductionItemIds">Elementy produkcyjne</label>
                <select asp-for="SelectedProductionItemIds" class="form-control" multiple>
                    @foreach (var item in Model.AvailableProductionItems)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="SelectedProductionItemIds" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Dodaj do listy</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
